<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Itens do Pedido
      </h1>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                
                <div class="box-body no-padding">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Desconto</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$products"}
                      <tr>
                        <td>{$value.id}</td>
                        <td>{$value.titulo}</td>
                        <td>R$ {function="formatPrice($value.preco)"}</td>
                        <td>R$ {function="formatPrice($value.desconto)"}</td>
                        <td>{$value.quantidade}</td>
                        <td>R$ {function="formatPrice($value.preco - $value.desconto * $value.quantidade)"}</td>
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    {loop="$pages"}
                    <li><a href="{$value.href}">{$value.text}</a></li>
                    {/loop}
                  </ul>
                </div>
              </div>
          </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->